{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="card card-flush" id="kt_contacts_main">
        <!--begin::Card header-->
        <div class="card-header pt-7" id="kt_chat_contacts_header">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Svg Icon | path: icons/duotune/communication/com005.svg-->

                <!--end::Svg Icon-->
                <h2>{{ title }}</h2>
            </div>
            <!--end::Card title-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body pt-5">
            <!--begin::Form-->
            <form method="POST" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
        <!--end::Card body-->
    </div>

    <div class="row">

        {% for controller_form in controller_forms %}
            <div class="card card-flush col-md-5 m-3">
                <!--begin::Card header-->
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-5">
                    <!--begin::Form-->
                    {% crispy controller_form.form %}
                </div>
                <!--end::Card body-->
            </div>
        {% endfor %}

    </div>
{% endblock %}


{% block extra_scripts %}
    {% for controller_form in controller_forms %}
        <script>
            (function () {
                'use strict';
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.{{controller_form.selector }}');

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault();
                                event.stopPropagation();
                            } else {
                                event.preventDefault();
                                event.stopPropagation();
                                var unindexed_array = $(this).serializeArray();
                                var indexed_array = {};
                                $.map(unindexed_array, function (n, i) {
                                    indexed_array[n['name']] = n['value'];
                                });
                                console.log(indexed_array);
                                console.log("Form submit enabled");
                                pingArduino(indexed_array, '{{ controller_form.type }}')
                            }
                            form.classList.add('was-validated')
                        }, false)
                    })
            })();
        </script>
    {% endfor %}

    <script>

        function pingArduino(data, type) {
            var $crf_token = getCookie("csrftoken");
            $.ajax({
                type: "POST",
                data: JSON.stringify(data),
                headers: {"X-CSRFToken": $crf_token},
                contentType: 'application/json',
                url: `/tasks/api/send-remote-data/${type}/`,
                success: function (msg) {
                    console.log(msg)
                    Swal.fire(
                        'Added!',
                        'Recipe added to task set',
                        'success'
                    ).then((result) => {
                        if (result.isConfirmed) {
                        }
                    })
                },
                error: function (error) {
                    Swal.fire(
                        'Error!',
                        `${error.statusText}`,
                        'error'
                    ).then((result) => {
                        if (result.isConfirmed) {
                        }
                    })
                }
            });

        }


    </script>


{% endblock %}