<div class="timeline-item">
    <!--begin::Timeline line-->
    <div class="timeline-line w-40px"></div>
    <!--end::Timeline line-->
    <!--begin::Timeline icon-->
    <div class="timeline-icon symbol symbol-circle symbol-40px">
        <div class="symbol-label bg-light">
            <!--begin::Svg Icon | path: icons/duotune/coding/cod008.svg-->
            2
            <!--end::Svg Icon-->
        </div>
    </div>
    <!--end::Timeline icon-->
    <!--begin::Timeline content-->
    <div class="timeline-content mb-10 mt-n1">
        <!--begin::Timeline heading-->
        <div class="mb-5 pe-3">
            <!--begin::Title-->
            <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Cook
                Other Recipes</a>
            <!--end::Title-->
            <!--begin::Description-->
            <div class="d-flex align-items-center mt-1 fs-6">
                <!--begin::Info-->
                <div class="text-muted me-2 fs-7">3 Hours Before</div>
                <!--end::Info-->
                <!--begin::User-->
                <div class="symbol symbol-circle symbol-25px" data-bs-toggle="tooltip"
                     data-bs-boundary="window" data-bs-placement="top" title=""
                     data-bs-original-title="Jan Hummer">
                </div>
                <!--end::User-->
            </div>
            <!--end::Description-->
        </div>
        <!--end::Timeline heading-->
        <!--begin::Timeline details-->
        <div class="overflow-auto pb-5">
            <div class="d-flex align-items-center border border-dashed border-gray-300 rounded min-w-700px p-5">

                <!--begin::Item-->
                <div class="d-flex flex-aligns-center pe-10 pe-lg-20">
                    <!--begin::Icon-->
                    <img alt="../../demo3/dist/apps/projects/project.html"
                         class="w-30px me-3"
                         src="{% static 'assets/media/svg/files/doc.svg' %}">
                    <!--end::Icon-->
                    <!--begin::Info-->
                    <div class="ms-1 fw-bold">
                        <!--begin::Desc-->
                        <a href="#" class="fs-6 text-hover-primary fw-bolder">Ayam
                            Goreng</a>
                        <!--end::Desc-->
                        <!--begin::Number-->
                        <div class="text-gray-400">30secs</div>
                        <!--end::Number-->
                    </div>
                    <!--end::Info-->
                </div>
                <div class="d-flex flex-aligns-center pe-10 pe-lg-20">
                    <!--begin::Icon-->
                    <img alt="../../demo3/dist/apps/projects/project.html"
                         class="w-30px me-3"
                         src="{% static 'assets/media/svg/files/doc.svg' %}">
                    <!--end::Icon-->
                    <!--begin::Info-->
                    <div class="ms-1 fw-bold">
                        <!--begin::Desc-->
                        <a href="#" class="fs-6 text-hover-primary fw-bolder">Nasi Putih</a>
                        <!--end::Desc-->
                        <!--begin::Number-->
                        <div class="text-gray-400">30secs</div>
                        <!--end::Number-->
                    </div>
                    <!--end::Info-->
                </div>
                <div class="d-flex flex-aligns-center pe-10 pe-lg-20">
                    <!--begin::Icon-->
                    <img alt="../../demo3/dist/apps/projects/project.html"
                         class="w-30px me-3"
                         src="{% static 'assets/media/svg/files/doc.svg' %}">
                    <!--end::Icon-->
                    <!--begin::Info-->
                    <div class="ms-1 fw-bold">
                        <!--begin::Desc-->
                        <a href="#" class="fs-6 text-hover-primary fw-bolder">Nasi Putih</a>
                        <!--end::Desc-->
                        <!--begin::Number-->
                        <div class="text-gray-400">30secs</div>
                        <!--end::Number-->
                    </div>
                    <!--end::Info-->
                </div>
                <!--end::Item-->
            </div>
        </div>
        <!--end::Timeline details-->
    </div>
    <!--end::Timeline content-->
</div>
