{% load static %}
{% load crispy_forms_tags %}


<div class="modal fade" tabindex="-1" id="cm_heater_from_modal">
    <div class="modal-dialog">
        <form id="cm_heater_from" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Heater Operation</h5>
                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                         aria-label="Close">
                        <span class="svg-icon svg-icon-2x">close</span>
                    </div>
                    <!--end::Close-->
                </div>

                <div class="modal-body">
                    {% crispy heater_form %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>