{% load rq_task_filters %}

<div class="tab-pane fade" id="completed_tab" role="tabpanel">
    <!--begin::Statistics Widget-->
    <!--end::Statistics Widget-->
    <!--begin::Tasks Widget-->
    <div class="card card-flush card-p-0 shadow-none bg-transparent mb-5">
        <!--begin::Header-->
        <div class="card-header align-items-center border-0">
            <!--begin::Title-->
            <h3 class="card-title fw-bolder text-white fs-3">Completed Tasks</h3>
            <!--end::Title-->
            <!--begin::Toolbar-->

            <!--end::Title-->
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div id="finished-list" class="card-body py-0">
            <!--begin::Item-->

            <!--end::Item-->
            <!--begin::Item-->
        </div>
        <!--end::Body-->
    </div>
    <!--end::Tasks Widget-->
</div>