{% load static %}

<div class="col-sm-6 col-xxl-4">
    <!--begin::Card widget 14-->
    <div class="card card-flush h-xl-100">
        <!--begin::Body-->
        <div class="card-body text-center pb-5">
            <!--begin::Overlay-->
            <a class="d-block overlay" data-fslightbox="lightbox-hot-sales"
               href="assets/media/stock/600x600/img-39.jpg">
                <!--begin::Image-->
                <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded mb-7"
                     style="height: 100px;background-image:url('{% static "assets/media/stock/600x600/img-39.jpg" %}')"></div>
                <!--end::Image-->
                <!--begin::Action-->
                <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                    <i class="bi bi-eye-fill fs-2x text-white"></i>
                </div>
                <!--end::Action-->
            </a>
            <!--end::Overlay-->
            <!--begin::Info-->
            <div class="d-flex align-items-end flex-stack mb-1">
                <!--begin::Title-->
                <div class="text-start">
                    <span class="fw-bolder text-gray-800 cursor-pointer text-hover-primary fs-4 d-block">Nasi Goreng Ayam</span>
                    <span class="text-gray-400 mt-1 fw-bolder fs-6">Faizal</span>
                </div>
                <!--end::Title-->
                <!--begin::Total-->
                <span class="text-gray-600 text-end fw-bolder fs-6">$2,630</span>
                <!--end::Total-->
            </div>
            <!--end::Info-->
        </div>
        <!--end::Body-->
        <!--begin::Footer-->
        <div class="card-footer d-flex flex-stack pt-0">
            <!--begin::Link-->
            <a class="btn btn-sm btn-primary flex-shrink-0 me-2" data-bs-target="#kt_modal_bidding"
               data-bs-toggle="modal">Cook</a>
            <!--end::Link-->
            <!--begin::Link-->
            <a class="btn btn-sm btn-light flex-shrink-0" href="../../demo3/dist/apps/ecommerce/sales/listing.html">View
                Item</a>
            <!--end::Link-->
        </div>
        <!--end::Footer-->
    </div>
    <!--end::Card widget 14-->
</div>