{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="card card-flush h-lg-100" id="kt_contacts_main">
        <!--begin::Card header-->
        <div class="card-header pt-7" id="kt_chat_contacts_header">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Svg Icon | path: icons/duotune/communication/com005.svg-->

                <!--end::Svg Icon-->
                <h2>Add New Ingredient</h2>
            </div>
            <!--end::Card title-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body pt-5">
            <!--begin::Form-->
            <form method="POST" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy form %}
            </form>

        </div>
        <!--end::Card body-->
    </div>


{% endblock %}